.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.left-panel {
  width: 50%;
  background-color: #0a192f;
  color: #ccd6f6;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-panel {
  width: 50%;
  overflow-y: scroll;
  background-color: #112240;
  color: #ccd6f6;
  padding: 2rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #64ffda;
  border-radius: 4px;
}


.left-panel h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.left-panel h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.left-panel .social-links {
  list-style: none;
  padding: 0;
}

.left-panel .social-links li {
  margin: 0.5rem 0;
}

.left-panel .social-links a {
  color: #64ffda;
  text-decoration: none;
}


.right-panel h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.right-panel .experience-item, 
.right-panel .project-item {
  margin-bottom: 2rem;
}

.right-panel h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
